# Python
__pycache__/
*.pyc

# ROS
build/
install/
log/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/

# Temporary files
*.tmp

# CAD exports
*.stl
*.step

# Large media renders
media/renders/*.mp4